.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 1px;
    background-color: #F7F9FA;

}
.title{
/*    border: 1px;*/
    margin-top: 27px;
    margin-bottom: 8px;
    height: 50px;
/*    border: 1px;*/
/*    border: 1px;*/
}
.subtilte{
    align-items: center;
    margin-bottom: 8px;
/*    border: 1px;*/
}
.information{
    text-align: left;
    margin-left: 16px;
    flex: 1;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
/*    opacity: 0;*/
}
.edit{
    text-align: right;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    color: cornflowerblue;
    opacity: 0;
}
.main{
    font-size: 28px;
    font-weight: 700;
    width: 115px;
    height: 36px;
    text-align: center;
    flex: 1;
/*    border: 1px;*/
}
.jus{
    font-size: 24px;
    font-weight: 400;
    width: 51px;
    height: 34px;
    text-align: right;
    flex: 1;
    margin-right: 16px;
    opacity: 0;
}
.back{
    font-size: 24px;
    font-weight: 400;
    width: 51px;
    height: 36px;
    text-align: left;
    flex: 1;
    margin-left: 16px;
}
.select-area {
    display: flex;
    flex-direction: column;
/*    align-items: center;*/
    width: 100%;
/*    border: 1px;*/
/*    margin-top: 8px;*/
    background-color: #FFFFFF;
}
.select{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
/*    border: 1px;*/
    margin-bottom: 8px;
    align-items: center;
}
.tr{
    text-align: right;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 700;
}
.tl{
    text-align: left;
    margin-left: 32px;
    flex: 1;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}
.bottom{
    position: fixed;
    left: 73px;
    bottom: 62px;
    width: 218px;
    height: 46px;
    font-size: 24px;
    font-weight: 700;
}
.display{
    width: 61px;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 30px;
    background-color:darkcyan;}
.show{
    width: 71px;
    height: 71px;
    margin-left:33px ;
}
switch{
    width: 58px;
    height: 72px;
    margin-right: 22px;
}